.App {
  display: grid;
  height: 100%;
  grid:
    [row1-start] 'nav aside bar' 50px [row1-end]
    [row2-start] 'nav aside content' auto [row2-end]
    / 50px 275px auto;
}

.AppNav {
  grid-area: nav;
  background: red;
}

.AppContent {
}

.TranslationNav {
  grid-area: aside;
  background: green;
}

.TranslationBar {
  grid-area: bar;
  background: yellow;
}

.TranslationContent {
  grid-area: content;
  background: blue;
  overflow-y: scroll;
}
